---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Archive">
    <main class="container mx-auto max-w-[90ch] pr-2 pl-2">
        <h1
            class="pt-2 pb-8 text-center text-5xl font-semibold dark:text-amber-500"
        >
            Header 1
        </h1>
        <p class="mx-auto my-4 max-w-[65ch]">
            Headings without a underline. It looks less busy but the headings do
            feel unbalanced just floating somewhere.
        </p>
        <h2
            class="pb-3 pt-2 text-center text-4xl dark:bg-stone-800 dark:text-amber-400"
        >
            Header 2
        </h2>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h3
            class="pb-3 pt-2 text-center text-3xl dark:bg-stone-800 dark:text-amber-300"
        >
            Header 3
        </h3>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h4
            class="pb-3 pt-2 text-center text-2xl dark:bg-stone-800 dark:text-amber-200"
        >
            Header 4
        </h4>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h5
            class="pb-3 pt-2 text-center text-xl dark:bg-stone-800 dark:text-amber-100"
        >
            Header 5
        </h5>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h6
            class="pb-3 pt-2 text-center text-lg dark:bg-stone-800 dark:text-stone-100"
        >
            Header 6
        </h6>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h1
            class="pt-2 pb-8 text-center text-5xl font-semibold dark:text-amber-500"
        >
            Header 1
        </h1>
        <p class="mx-auto my-4 max-w-[65ch]">
            Headings without a underline. It looks less busy but the headings do
            feel unbalanced just floating somewhere.
        </p>
        <h2 class="text-4xl dark:text-amber-400">Header 2</h2>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h3 class="text-3xl dark:text-amber-300">Header 3</h3>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h4 class="text-2xl dark:text-amber-200">Header 4</h4>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h5 class="text-xl dark:text-amber-100">Header 5</h5>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h6 class="text-lg dark:text-stone-100">Header 6</h6>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h1
            class="mt-2 mb-4 border-b-2 pb-4 text-center text-5xl font-semibold dark:border-b-stone-800 dark:text-amber-500"
        >
            Header 1
        </h1>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h2
            class="mt-8 mb-4 border-b-2 pb-2 text-4xl dark:border-b-stone-800 dark:text-amber-400"
        >
            Header 2
        </h2>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h3
            class="mt-8 mb-4 border-b-2 pb-2 text-3xl dark:border-b-stone-800 dark:text-amber-300"
        >
            Header 3
        </h3>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h4
            class="mt-8 mb-4 border-b-2 pb-2 text-2xl dark:border-b-stone-800 dark:text-amber-200"
        >
            Header 4
        </h4>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h5
            class="mt-8 mb-3 border-b-2 pb-1 text-xl dark:border-b-stone-800 dark:text-amber-100"
        >
            Header 5
        </h5>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
        <h6
            class="mt-8 mb-3 border-b-2 pb-1 text-lg dark:border-b-stone-800 dark:text-stone-100"
        >
            Header 6
        </h6>
        <p class="mx-auto my-4 max-w-[65ch]">
            To this the squire replied, “Señor, as these mishaps are what one
            reaps of chivalry, tell me if they happen very often, or if they
            have their own fixed times for coming to pass; because it seems to
            me that after two harvests we shall be no good for the third, unless
            God in his infinite mercy helps us.”
        </p>
    </main>
</Layout>
