---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: propClasses, ...props } = Astro.props;

const isActive =
    href === Astro.url.pathname ||
    href === Astro.url.pathname.replace(/\/$/, "");
---

<a
    {...props}
    href={href}
    class={`hover:text-amber-500 dark:hover:text-amber-500 font-semibold ${propClasses} ${
        isActive
            ? "text-amber-700 dark:text-amber-300"
            : "text-amber-800 dark:text-amber-200"
    }`}
>
    <slot />
</a>
